@font-face {
	font-family: 'Conv_Soft Marshmallow';
	src: url('../fonts/Soft Marshmallow.eot');
	src: local('☺'), url('../fonts/Soft Marshmallow.woff') format('woff'),
                   url('../fonts/Soft Marshmallow.ttf') format('truetype'),
                   url('../fonts/Soft Marshmallow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  margin :0;
  background: white;
}

.node .cell {
  fill: #bbb;
  stroke: white;
  stroke-width: 5;
}
.node .center {
  r: 5;
  fill: white;
  opacity: 0.5;
}
.node .label {
  font-family: 'Conv_Soft Marshmallow',Sans-Serif;;
  user-select:none;
  text-anchor: middle;
  fill: white;
  stroke-width: 1px;
  opacity: 0;
}

.node.touch .cell { opacity: 1 }
.node.touch .center { opacity: 0 }

.node.open .cell { opacity: 1 }
.node.open .center { opacity: 0 }
.node.open .label { opacity: 0.8 }

.node.flag .cell { fill: green }

.node.boomb.open .cell { fill: red }
.node.boomb.open .label { opacity: 0 }

.node.int .cell {
  fill: blue;
  opacity: 0.5;
}
.node.int .center { opacity: 0.5; }

#cell-stop-1 {stop-color: #555}
#cell-stop-2 {stop-color: #888}
